<article class="card card--comment">
    <header class="card-header"></header>
    <section class="card-body">
        <p> {{comment_text}}</p>
        <p>-{{user.username}}, {{format_date created_at}}</p>
    </section>
</article>

