<ul class="no-bullets">
    {{#each this}}
        <li>
            <section class="info-display-container">
                <div class="info-display-container-header">
                </div>
                <div class="info-display-container-body info-display-container-body-comment">
                    <p> {{comment_text}}</p>
                    <br>
                    <span>-{{user.username}}, {{format_date created_at}}</span>
                </div>
            </section>
        </li>
    {{/each}}
</ul>