<form class="form form--login">
    <label class="form-field">
        <span class="form-field-label">Username</span>
        <input class="form-input" id="username" type="text" name="username" required>
    </label>

    <label class="form-field">
        <span class="form-field-label">Password</span>
        <input class="form-input" id="password" type="password"  name="password" required>
    </label>

    <button class="form-btn-submit" type="submit">Login!</button>
</form>