{{#if posts.length}}
    {{#each posts}}
        <article class="card">
            <header class="card-header">
                <a class="card-header-title" href="/post/{{id}}/edit">{{title}}</a>
                <p class="card-header-date">{{format_date created_at}}</p>
            </header>
        </article>
    {{/each}}
{{/if}}
<div class="add-post-container">
    <a class="add-post-container-btn" href="/post/create-post">+ New Post</a>
</div>