<section class="info-display-container">
    <header class="info-display-container-header">
        <span class="info-display-header-content-login">Login</span>
    </header>
    <form tabindex="1" class="login-form-group">
        <label class="input-form-label" for="username-login">Username
            <input class="user-input" id="username-login" type="text"
                   name="username-login" value="" required autofocus>
        </label>
        <label class="input-form-label" for="password-login">Password
            <input class="user-input" id="password-login" type="password" class="username-input"
                   name="password-login" value="" required autofocus>
        </label>

        <button class="btn-login" type="submit">Login!</button>
        <a class="signup" href="#">Sign up instead</a>
    </form>
</section>
<!--follow up on this code-->
    <script src="/javascript/login.js"></script>