.header-container {
  background: #201110;
  padding: 0 50px 30px;

  &-nav {
    width: 100%;

    &-cta {
      color: #dce9d5;
      font-size: 25px;
      line-height: 25px;
      display: inline-block;
      margin: 40px 20px 40px 0;
    }
  }

  &-heading-display {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 10px;
    color: #201110;
    background: #dce9d5;
    box-shadow: 8px 8px 0 darkgrey;
    display: inline-block;
  }
}
